* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    cursor: none; /* Maus als Punkt ausblenden */
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url('src/img/car.jpg');  
    background-size: cover;
    background-position: center;   
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: #f1c40f;
}



/* Header */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-family: 'Pacifico', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem; /* Größere Schriftgröße */
    color: white;
}

.navbar .logo a:hover {
    color: #f1c40f; /* Neue Farbe beim Hovern */
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: green;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px; 
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover {
    transform: scale(1.05);
}

.action_btn:active {
    transform: scale(0.95);
}



/* Dropdown Menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}



/* Hero */
section#hero {
    height: calc(100vh - 60px); /* Höhe des Hero-Bereichs */
    display: flex;
    flex-direction: column;
    align-items: center; /* Text horizontal zentrieren */
    justify-content: flex-end; /* Text am unteren Rand ausrichten */
    color: white;
    padding-bottom: calc((100vh - 60px) / 15); /* Platz unten für den Text */
}

#hero h1 {
    font-size: 4rem;
    margin-bottom: 0rem;
    text-align: center;
}




/* About */
.about-container {
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
    margin: auto;
}

.about-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.about-container h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #555;
}

.about-container p {
    margin: 10px 0;
    font-size: 1em;
    color: #666;
}




/* FAQ */
.faq-container {
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
    margin: auto;
}

.faq-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.faq-container h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #555;
}

.faq-container p {
    margin: 10px 0;
    font-size: 1em;
    color: #666;
}




/* Impressum */
.impressum-container {
    max-width: 600px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    text-align: center;
    margin: auto;
}

.impressum-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.impressum-container h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: #555;
}

.impressum-container p {
    margin: 10px 0;
    font-size: 1em;
    color: #666;
}

/* Responsive Design */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}







/*Kalender*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.navbar .links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar .links li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}

.toggle_btn {
    display: none;
}

.dropdown_menu {
    display: none;
}

main {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calendar {
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f39c12;
    color: #fff;
}

.calendar-body {
    padding: 20px;
}

.calendar-week-day {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
}

.calendar-week-day div {
    width: calc(100% / 7);
    text-align: center;
}

.calendar-days {
    display: flex;
    flex-wrap: wrap;
}

.calendar-days div {
    width: calc(100% / 7);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: #333;
}

.calendar-days div:nth-child(7n + 1) {
    color: red;
}

.calendar-days div:hover {
    background-color: #f39c12;
    color: #fff;
    cursor: pointer;
}



/*Haushaltshandbuch*/

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
}

.fixed-expenses, .variable-expenses {
    margin-bottom: 20px;
}

h2 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

form {
    margin-bottom: 20px;
}

form input, form select {
    padding: 10px;
    margin-right: 10px;
}



